/* GENERAL PAGE STYLE */
body {
    margin: 0;
    background: linear-gradient(90deg, #7A1F86, #B0439C);
    font-family: Poppins, sans-serif;
    color: #fff;
}

/* BACK LINK */
.back {
    margin: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.back:hover {
    opacity: 0.8;
}

/* LOGO */
.logo {
    width: 300px;
    display: block;
    margin: -150px auto 0;
}

/* PAGE TITLE */
h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 90px;
    margin-top: -100px;
}

/* CAROUSEL LAYOUT */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 95%;
    display: flex;
    justify-content: center;
}

/* FIXED CONTENT BOX */
.content-box {
    width: 90%;
    max-width: 1200px;
    background: #f9eefe;
    border-radius: 30px;
    padding: 30px 35px;
    display: flex;
    gap: 60px;
    align-items: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}

/* IMAGE */
.content-box img {
    width: 50%;
    border-radius: 0px;
}



/* TEXT */
.text-group {
    width: 48%;
    color: #7A1F86;
}

.text-group h2 {
    font-family: "Playfair Display", serif;
    font-size: 45px;
    margin: 0 0 15px;
    text-align: center;
}
.text-group h3 {
    font-family: "Playfair Display", serif;
    font-size: 45px;
    margin: 0 0 15px;
    text-align: center;
}
.text-group h4 {
    font-family: "Playfair Display", serif;
    font-size: 45px;
    margin: 0 0 15px;
    text-align: center;
}
.text-group p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

/* RETURN BUTTON */
.return-btn {
    margin-top: 25px;
    background: #7A1F86;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: block;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.return-btn:hover {
    background: #62196B;
}


/* ARROW BUTTONS */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffffaa;
    border: none;
    font-size: 45px;
    padding: 12px 20px;
    border-radius: 50%;
    cursor: pointer;
    color: #7A1F86;
    z-index: 5;           /* ensures arrows sit OUTSIDE the slide and above it */
}

.prev { left: 30px; }
.next { right: 30px; }

.carousel-btn:hover {
    background: #fff;
}


/* RESPONSIVE */
@media (max-width: 900px) {
    .content-box {
        flex-direction: column;
        width: 92%;
        text-align: center;
        padding: 20px;
    }

    .content-box img,
    .text-group {
        width: 100%;
    }

    .text-group p {
        padding: 0 10px;
    }
}
