body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    background-color: rgb(163, 6, 155);
    position: fixed;
    overflow: hidden;
    filter: blur(10px);
    height: 85px;
    width: 100%;
}

.nav_content {
    margin-top: 5px;
    display: flex;
    align-items: center;
    padding: 0 60px;
    box-sizing: border-box;
    position: sticky;
    justify-content: space-evenly;

    
}

.nav_content img {
    background-color: rgb(138, 0, 115);
    border: solid;
    border-color: white;
    border-radius: 50px;
    position: inherit;
    width: 70px;
    height: 70px;
    margin-right: 20px;
} 

.nav_content a {
    position: inherit;
    border-radius: 50px;
    border: solid;
    border-color: white;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 60px;

}

.nav_content a:hover {
    border-color: black;
    background-color: white;
    color: black;
}

.logo {
    position: inherit;
    display: flex;
    align-items: center;

}
