body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#5b0f47, #2e0430);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.left-section {
    flex: 1;
}

.staff-img {
    width: 600px;
    max-width: 100%;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.contact-card {
    background: linear-gradient(to bottom, #990087, #47004A);
    padding: 40px;
    border-radius: 30px;
    width: 80%;
    text-align: center;
    color: white;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.logo {
    width: 90px;
    height: 90px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    background: #5b0f47;
    border: 2px solid white;
    box-shadow: 0 0 20px #ff7edb, 0 0 40px #560048;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 125%; 
    height: 125%;
    border-radius: 50%;
    object-fit: cover;
}

.contact-card h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-card p {
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.9;
}

form input,
form textarea {
    width: 81%;
    padding: 12px;
    border-radius: 6px;
    border: 2.7px solid black;
    margin: 12px 0;
    font-size: 15px;
    background: white;
    color: white;
}

form textarea {
    height: 120px;
    resize: none;
}

.social-icons {
    margin-top: 25px;
    font-size: 14px;
    opacity: 0.9;
}
