body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
    background: #ffffff;
    color: #70006d;
    text-align: center;
}

.back-link {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 18px;
    color: #a3009a;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}

.logo {
    position: relative;
    width: 150px;
    display: block;
    margin: 20px auto 0 auto;
}

h1 {
    font-size: 60px;
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    color: #a3009a;
    font-style: italic;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 90%;
    max-width: 1400px;
    margin: 40px auto;
    gap: 40px;
}

.carousel {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}

.carousel img {
    width: 100%;
    height: auto;
    display: none;
    object-fit: contain; 
    position: relative;  
}

.carousel img.active {
    display: block;
}

        
.virtual-image-box img.active {
    display: block;
}

.text-box h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: italic;
}

.text-box p {
    font-size: 20px;
    line-height: 1.6;
    width: 90%;
    margin: auto;
}

@media(max-width: 900px) {
    .section {
        grid-template-columns: 1fr;
    }
}

    /* ------------------- VIRTUAL SECTION ------------------- */
.virtual-section {
    background: #6d006d;  /* Deep violet */
    width: 100%;
    padding: 80px 0;
    color: white;
}


.virtual-inner {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    gap: 20px; 
    padding-left: 0;
    padding-right: 0;
}


.virtual-text h2 {
    font-size: 60px;
    font-style: italic;
    margin-bottom: 20px;
}

.virtual-text p {
    font-size: 22px;
    line-height: 1.7;
    width: 90%;
    max-width: 550px;
}


.virtual-image-box {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}

.virtual-image-box img {
    width: 100%;
    height: auto;
    display: none;
    object-fit: contain; 
    position: relative;  
}

    
@media(max-width: 900px) {
    .virtual-inner {
        grid-template-columns: 1fr;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .virtual-text p {
        width: 100%;
        max-width: none;
        }

    .virtual-image-box img {
        width: 100%;
        }
}
